li,
a,
button {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.container{
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: black;
}

.logo {
  cursor: pointer;

}


.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 40px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: aqua;
}

button {
  padding: 9px 25px;
  background-color: rgba(204, 0, 255, 0.568);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button a:hover {
  background-color: rgb(28, 228, 61);
}li,
a,
button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    // background-color: black;
}

.logo {
    cursor: pointer;

}


.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 40px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: aqua;
}

button {
    padding: 9px 25px;
    // background-color: rgba(204, 0, 255, 0.568);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

// button a:hover {
//     background-color: rgb(28, 228, 61);
// }