@media screen and (min-width:768px) {
    .f-flex{
        font-size: larger;
        font-family: sans-serif;
        margin: 0 auto;
        padding: 0 auto;
        text-align: center;
        

    }
    .f-flex form :hover{
        color: chartreuse;
    }
        
                form :nth-child(1) {
                    box-sizing: border-box;
                    width: 300px;
                    height: 100px;
                    text-align: left;
                    margin: 0 auto;
                    width: 600px;
                    scroll-behavior: smooth;
                    background-color: wheat;
                
                
                }

    

}












